	<style>
* {
  box-sizing: border-box;
}


h1{
	text-align:center;
	margin-bottom: 20px;
	font: 30px;
	font-weight: 800;
}

.row {
  width: 100%;
  padding:0;
  margin:0;
}

.menu{
	position:relative;
}


#theme1,#theme2,#theme3 {
	position: absolute;
	top:0px;
	right:0px;
	border: 2px solid black;
}
#theme1{
	background-color: pink;
}

#theme2{
	background-color: red;
	color:white;
}
#theme3{
	background-color: yellow;
}

.menu > p {
	margin: 30px auto auto 10px;
}


@media (min-width: 992px) {
	.col-lg-3{
		width: 31.33%;
		border: 2px solid black;
		margin:1%;
		float: left;
		background-color: grey;
	}


}
@media (min-width: 768px)  and (max-width: 991px ){
	.col-md-6, .col-md-12{
		border: 2px solid black;
		margin:1%;
		float: left;
		background-color: grey;
	}



	.col-md-6{
		width: 48%;
	}

	.col-md-12{
		width: 98%;
	}
	
}

@media (max-width: 767px){
	.col-sm-1{
		width:98%;
		border: 2px solid black;
		margin:1%;
		float: left;
		background-color: grey;
	}



}



</style>
